<h1>Confirmation(s) et délivrance des informations d'identification</h1>
<mat-card class="card" *ngFor="let confirmation of confirmations; let i = index">
    <mat-card-content>
        <div class="row">
            <mat-form-field class="mat-form-field">
            <mat-label>Cred_ex_id</mat-label>
            <input disabled matInput [value]="confirmation?.cred_ex_record?.cred_ex_id "/>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="mat-form-field">
            <mat-label>Statut</mat-label>
            <input disabled matInput [value]="confirmation?.statut "/>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col left">
                <mat-form-field class="mat-form-field">
                    <mat-label>Nom</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'nom')"/>
                </mat-form-field>
            </div>
            <div class="col right">
                <mat-form-field class="mat-form-field">
                    <mat-label>Prénom</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'prenom')"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col left">
                <mat-form-field class="mat-form-field">
                    <mat-label>Genre</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'genre')"/>
                </mat-form-field>
            </div>
            <div class="col right">
                <mat-form-field class="mat-form-field">
                    <mat-label>Age</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'age')"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="mat-form-field">
                    <mat-label>Taille</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'taille')"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="mat-form-field">
                    <mat-label>Origine</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'origine')"/>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="confirmation?.statut === 'request-received'">
        <button mat-stroked-button color="warn">Annuler</button>
        <button mat-raised-button color="primary" (click)="valider(confirmation?.cred_ex_record?.cred_ex_id)">Confirmer</button>
      </mat-card-actions>
  </mat-card>
  