<h1>Confirmation(s) et délivrance des informations d'identification</h1>
<mat-card class="card" *ngFor="let confirmation of confirmations; let i = index">
    <mat-card-content>
        <div class="row">
            <mat-form-field class="mat-form-field">
            <mat-label>Cred_ex_id</mat-label>
            <input disabled matInput [value]="confirmation?.cred_ex_record?.cred_ex_id "/>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="mat-form-field">
            <mat-label>Nom</mat-label>
            <input disabled matInput [value]="getAttributeValue(confirmation, 'nom')"/>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="mat-form-field">
            <mat-label>Prénom</mat-label>
            <input disabled matInput [value]="getAttributeValue(confirmation, 'nom')"/>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="mat-form-field">
            <mat-label>Age</mat-label>
            <input disabled matInput [value]="getAttributeValue(confirmation, 'nom')"/>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button color="warn">Annuler</button>
        <button mat-raised-button color="primary" (click)="valider(confirmation?.cred_ex_record?.cred_ex_id)">Confirmer</button>
      </mat-card-actions>
  </mat-card>
  