<h1>2. Confirmation et demande des informations d'identification</h1>
<div class="info" *ngIf="confirmations.length > 0">
    <mat-icon aria-hidden="false">info</mat-icon>
     Les demandes ci-dessous, ont été validées par la confédération. Veuillez vérifier les informations et les confirmer. 
</div>
<div class="info" *ngIf="confirmations.length == 0">
    <mat-icon aria-hidden="false">info</mat-icon>
    Aucune confirmation nécessaire pour le moment. Il se peut que votre demande soit en cours de validation au sein de l'autorité compétente.
</div>
<mat-card class="card" *ngFor="let confirmation of confirmations; let i = index">
    <mat-card-content>
        <div class="row">
            <mat-form-field class="mat-form-field">
            <mat-label>Cred_ex_id</mat-label>
            <input disabled matInput [value]="confirmation?.cred_ex_record?.cred_ex_id "/>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col left">
                <mat-form-field class="mat-form-field">
                    <mat-label>Nom</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'nom')"/>
                </mat-form-field>
            </div>
            <div class="col right">
                <mat-form-field class="mat-form-field">
                    <mat-label>Prénom</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'prenom')"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col left">
                <mat-form-field class="mat-form-field">
                    <mat-label>Genre</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'genre')"/>
                </mat-form-field>
            </div>
            <div class="col right">
                <mat-form-field class="mat-form-field">
                    <mat-label>Age</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'age')"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="mat-form-field">
                    <mat-label>Taille</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'taille')"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="mat-form-field">
                    <mat-label>Taille</mat-label>
                    <input disabled matInput [value]="getAttributeValue(confirmation, 'origine')"/>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button color="warn">Annuler</button>
        <button mat-raised-button color="primary" (click)="valider(confirmation?.cred_ex_record?.cred_ex_id)">Confirmer</button>
      </mat-card-actions>
  </mat-card>
  