<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">E-ID</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <a routerLink="invitations"><span class="full-width" *ngIf="isExpanded || isShowing">Invitations</span></a>
        <mat-icon mat-list-icon>local_post_office</mat-icon>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <a routerLink="connexions"><span class="full-width" *ngIf="isExpanded || isShowing">Connexions</span></a>
        <mat-icon mat-list-icon>link</mat-icon>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
