<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>E-ID</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <header class="header">
    <a mat-raised-button color="primary">Espace citoyen</a>
    <a mat-raised-button>Espace confédération</a>
  </header>
  <main class="main">
    <section class="section section-benefit-picture">
      
    </section>
    <section class="section section-benefit-text">
      <div class="section-content">
        <h2 class="section-content-title">PRESTATIONS</h2>
        <div class="section-content-attributes">
          <mat-icon class="section-content-icon" aria-hidden="false" aria-label="Documents">insert_drive_file</mat-icon>
          <div class="section-content-text">
            <h3>DOCUMENTS ADMINISTRATIFS</h3>
            <p>Commandez simplement vos documents administratifs !</p>
          </div>
          <mat-icon class="section-content-icon" aria-hidden="false" aria-label="Identifiant unique">shopping_cart</mat-icon>
          <div class="section-content-text">
            <h3>IDENTIFIANT UNIQUE</h3>
            <p>Commandez simplement vos documents administratifs !</p>
          </div>
          <mat-icon class="section-content-icon" aria-hidden="false" aria-label="Signature">create</mat-icon>
          <div class="section-content-text">
            <h3>SIGNATURE NUMÉRIQUE</h3>
            <p>Signez vos documents avec une signature numérique !</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-characteristics-text">
      <div class="section-content">
        <h2 class="section-content-title">CARACTÉRISTIQUES</h2>
        <div class="section-content-attributes">
          <mat-icon class="section-content-icon" aria-hidden="false" aria-label="simple">golf_course</mat-icon>
          <h3 class="section-content-text">SIMPLE D'UTILISATION</h3>
          <mat-icon class="section-content-icon" aria-hidden="false" aria-label="simple">lock_outline</mat-icon>
          <h3 class="section-content-text">SIMPLE D'UTILISATION</h3>
          <mat-icon class="section-content-icon" aria-hidden="false" aria-label="simple">calendar_today</mat-icon>
          <h3 class="section-content-text">SIMPLE D'UTILISATION</h3>
        </div>
    </div>
    </section>
    <section class="section section-characteristics-picture">

    </section>
  </main>
</div>