<h1>Connexions</h1>
<div class="info">
  <mat-icon aria-hidden="false">info</mat-icon>
   Liste des connexions établies
</div>
<mat-card class="connection-card" *ngFor="let connection of connections; let i = index">
  <mat-card-content>
    <form class="example-form">
      <div class="row">
        <div class="col">
          <mat-form-field class="mat-form-field">
            <mat-label>Libellé</mat-label>
            <input disabled matInput [value]="connection.their_label"/>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field">
            <mat-label>Statut</mat-label>
            <input disabled matInput [value]="connection.state"/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="mat-form-field">
          <mat-label>Connection ID</mat-label>
          <input disabled matInput [value]="connection.connection_id"/>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>



