@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.info {
  display: flex;
  align-items: center;
  background-color: #2196F3;
  color: white;
  padding: 1%;
  margin-bottom: 1%;

  mat-icon {
    margin-right: 1%;
  }
}
