
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
    max-width: 400px;
    margin-right: 5%;
    margin-top: 2%;
  }

  .profil-image {
    background-size: cover;
    max-width: 96px;
    max-height: 96px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }


  .mat-card-title {
    width: 100%;
  }


  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;

    .right {
      padding-left: 20px;

      h2 {
        margin: 0;
      }
    }
  
    .col {
      .profil-image {
        width: 80px;
        height: 80px;
      }
    }
  
    .col:first-child {
      margin-right: 5%;
    }
  }
  
  .mat-form-field {
    width: 100%
  }