<h1>Identité(s)</h1>
<div class="info">
    <mat-icon aria-hidden="false">info</mat-icon>
     Liste des identités numériques créées.
</div>
<div class="cards">
  <mat-card class="card" *ngFor="let credential of credientals; let i = index">
      <mat-card-content>
          <div class="row">
              <div class="col left">
                  <div mat-card-avatar class="profil-image">
                    <img [src]="getAvatar()"/>
                  </div>
              </div>
              <div class="col right">
                  <h2>{{ credential?.attrs?.nom}} {{ credential?.attrs?.prenom}}</h2>
              </div>
          </div>
          <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field">
                  <mat-label>Genre</mat-label>
                  <input disabled matInput [value]="credential?.attrs?.genre"/>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field">
                  <mat-label>Age</mat-label>
                  <input disabled matInput [value]="credential?.attrs?.age">
                </mat-form-field>
              </div>
          </div>
          <div class="row">
                <mat-form-field class="mat-form-field">
                  <mat-label>Taille (cm)</mat-label>
                  <input disabled matInput [value]="credential?.attrs?.taille"/>
                </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field class="mat-form-field">
              <mat-label>Lieu d'origine</mat-label>
              <input disabled matInput [value]="credential?.attrs?.origine"/>
              </mat-form-field>
          </div>
      </mat-card-content>
    </mat-card>
</div>
  